<div id="<%= dom_id pfc_ctrl_account_type %>">
  <p>
    <strong>Name:</strong>
    <%= pfc_ctrl_account_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pfc_ctrl_account_type.description %>
  </p>

</div>
