<h1>Editing pfc ctrl account type</h1>

<%= render "form", pfc_ctrl_account_type: @pfc_ctrl_account_type %>

<br>

<div>
  <%= link_to "Show this pfc ctrl account type", @pfc_ctrl_account_type %> |
  <%= link_to "Back to pfc ctrl account types", pfc_ctrl_account_types_path %>
</div>
