<p style="color: green"><%= notice %></p>

<h1>Pfc ctrl account types</h1>

<div id="pfc_ctrl_account_types">
  <% @pfc_ctrl_account_types.each do |pfc_ctrl_account_type| %>
    <%= render pfc_ctrl_account_type %>
    <p>
      <%= link_to "Show this pfc ctrl account type", pfc_ctrl_account_type %>
    </p>
  <% end %>
</div>

<%= link_to "New pfc ctrl account type", new_pfc_ctrl_account_type_path %>
